.page-new-picture {}

.page-new-picture form.new-picture-form {
	display: flex;
	flex-direction: column;
	gap: var(--size-gap);
}

.page-new-picture .submit-button {
	background-color: var(--color-neutral-3);

	padding: var(--size-padding);

	display: flex;
	flex-direction: column;
	align-items: stretch;
}