.two-column {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: space-between;
}

.two-column>div {
	display: flex;
	flex-direction: column;
	gap: var(--size-gap);

	min-height: 100vh;
}

/* Left column */
.two-column>div:first-of-type {
	width: var(--size-content-width);
}

/* Right column */
.two-column>div:last-of-type {
	width: var(--size-sidebar-width);
}