.navigator {
	width: var(--size-content-gutter);

	display: flex;

	height: 100vh;
}

.navigator>nav {
	position:fixed;
	
	height: 100vh;
	width: var(--size-sidebar-width);

	padding: var(--size-padding);

	display: flex;
	flex-direction: column;
}
