* {
	box-sizing: border-box;

	color: var(--text-light);
}

html {}

body {
	background-color: var(--color-neutral-1);

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

/* Column One */
#root>header {
	/* flex: 1 1; */
}

/* Column Two */
#root>main {}

/* Column Three */
#root>footer {
	/* flex: 1 1; */
}

a {
	color: var(--text-link);
}

a:visited {
	color: var(--text-link-visited);
}

input,
textarea {
	background-color: var(--color-neutral-4);

	font-family: inherit;

	border: 2px gray inset;
	padding: var(--size-padding);
	display: flex;
	align-items: center;
	font-size: 1.25rem;
}

input:hover,
textarea:hover {
	border-color: var(--color-neutral-2);
}

textarea {
	width: 100%;
	resize: vertical;
}

button {
	background-color: var(--color-primary);
	border: 2px rgb(0, 0, 0, 0) solid;

	cursor: pointer;

	padding: var(--size-padding);
}

button:hover {
	background-color: var(--color-primary-alt);
}

button:focus {
	border: 2px var(--color-primary-1) inset;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--color-primary: #BA274A;
	--color-primary-alt: #BA274A;
	--color-secondary-1: #4AAD52;
	--color-secondary-1-alt: #488B49;
	--color-secondary-2: #8DE4FF;
	--color-secondary-2-alt: #8AC4FF;
	--color-secondary-3: #C589E8;
	--color-secondary-3-alt: #C589E8;
	--color-secondary-4: #DB3A34;
	--color-secondary-4-alt: #DB3A34;
	/* Background */
	--color-neutral-1: #617073;
	/* Navigator */
	--color-neutral-2: #271033;
	/* Panels */
	--color-neutral-3: #5f4e5b;
	/* Insets */
	--color-neutral-4: #3a465a;

	--text-light: white;
	--text-light-hover: #887880;
	--text-dark: black;
	--text-dark-hover: gray;
	--text-link: #388697;
	--text-link-visited: #EC9DED;

	--scrollbar-width: 0px;
	--window-width: calc(100vw - var(--scrollbar-width));
	--size-content-width: calc(512rem / 16);
	/* calc(var(--window-width) / 3); */
	--size-content-gutter: calc(calc(var(--window-width) - var(--size-content-width)) / 2);
	--size-navigator-width: calc(256rem /16);
	--size-sidebar-width: calc(400rem /16);
	--size-gap: 16px;
	--size-padding: 8px 16px;
	--size-margin: 16px;
}

@media screen and (max-width: 65rem) {
	#root {
		/* flex-direction: column;
		align-items: center; */
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	#root>header {
		order: 3;
		flex-basis: 100%;
	}

	:root {
		/* --size-content-width: 100%; */
	}

	/* #root>footer {
		display: none;
	} */
}