* {
	box-sizing: border-box;

	color: var(--text-light);
}

html {}

body {
	background-color: var(--color-neutral-1);

	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

#root>header {}

#root>main {
	flex: 1 1;
}

a {
	color: var(--text-link);
}

a:visited {
	color: var(--text-link-visited);
}

input,
textarea {
	background-color: var(--color-neutral-3);
	border: 2px gray inset;
}

input:hover,
textarea:hover {
	border-color: var(--color-neutral-2);
}
textarea {
	width: 100%;
	resize: vertical;
}

button {
	padding: var(--size-padding);
	background-color: var(--color-secondary-1);
	border: 2px rgb(0, 0, 0, 0) solid;
}

button:hover {
	background-color: var(--color-secondary-1-alt);
}

button:focus {
	border: 2px var(--color-secondary-1) inset;
}


code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--color-primary: blue;
	--color-primary-alt: purple;
	--color-secondary-1: crimson;
	--color-secondary-1-alt: maroon;
	--color-secondary-2: green;
	--color-secondary-2-alt: rgb(22, 80, 20);
	--color-secondary-3: yellow;
	--color-secondary-3-alt: orange;
	--color-secondary-4: salmon;
	--color-secondary-4-alt: red;
	--color-neutral-1: gray;
	--color-neutral-2: black;
	--color-neutral-3: rgb(29, 80, 80);
	--color-neutral-4: rgb(34, 34, 92);

	--text-light: white;
	--text-dark: black;
	--text-link: blue;
	--text-link-visited: purple;

	--size-content-width: calc(100vw / 3);
	--size-content-gutter: calc(calc(100vw - var(--size-content-width)) / 2);
	--size-sidebar-width: calc(var(--size-content-gutter) / 2);
	--size-gap: 1em;
	--size-padding: .5em 1em;
	--size-margin: 1em;
}