section.page-sign-in {
	background-color: var(--color-neutral-3);

	padding: var(--size-padding);

	margin-top: 25vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.page-sign-in header,
.page-sign-in footer {
	text-align: center;
}


.page-sign-in form.sign-in-form {
	display: flex;
	flex-direction: column;
	gap: var(--size-gap);
}


.page-sign-in form.sign-in-form label {
	display: flex;
	justify-content: space-between;
}

.page-sign-in form.sign-in-form label>span:first-child {
	font-style: normal;
}

.page-sign-in form.sign-in-form label>span {
	font-style: italic;
}